/* ------------------Header Section-------------*/
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}



/* -----------Back top Top Button--------- */
#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* At the bottom-right corner */
    right: 20px;
    z-index: 99; /* Ensure it is above other elements */
    font-size: 18px;
    background-color: #6b46c1; /* Purple background */
    color: white; /* White text */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backToTopBtn:hover {
    background-color: #5a36b1; /* Darker purple on hover */
}